@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Test[]>
@using nancySh
<html>
<head>
    <title>Portraits</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css"/>
</head>
<body>

<h1><a href="/">Hello!</a></h1>

@Html.PostButton("/new", "New item")

<table class="table">
@foreach (var t in Model) {
    <tr>
        <td>
            @(t.Id.ToString() + (t.Saved ? "" : " *"))
        </td>
        <td>
            @t.Val
        </td>
        <td>
            @Html.PostButton(string.Format("/delete/{0}", t.Id), "Delete")
        </td>
    </tr>
}
</table>


<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>