<html>
<head>
    <title>Portraits</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css"/>
</head>
<body>

<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tmpl.js"></script>

<script>
var App = {
    reload: function () {
        $.get("list", function (data) {
            var results = document.getElementById("list");
            results.innerHTML = tmpl("list_tmpl", { tests: data });
        });
    },
    update: function (id, version) {
        $.post("update", { Id: id, Version: version, Val: $("#val" + id).val() }, App.reload);
    },
    delete: function (id, version) {
        $.post("delete/" + id + "/" + version, null, App.reload);
    },
    newItem: function () {
        $.post("new", null, App.reload);
    }
};
$(App.reload);
</script>

<div class="header col-xs-12">
    <h1><a onclick="App.reload();" href="javascript:void;">Hello!</a></h1>
</div>

<div class="col-xs-12">
<input type="button" value="New item" onclick="App.newItem();"/>
</div>

<div id="list" class="col-lg-4">
</div>

<script type="text/html" id="list_tmpl">
    <table class="table">
    <% for ( var i = 0; i < tests.length; i++ ) { %>
        <tr>
            <td>
                <%=tests[i].id%>
            </td>
            <td>
                <form id="form<%=tests[i].id%>">
                    <input id="val<%=tests[i].id%>" type="text" value="<%=tests[i].val%>"/>
                    <input type="button" value="Edit"
                        onclick="App.update(<%=tests[i].id%>,<%=tests[i].version%>)"/>
                </form>
            </td>
            <td>
                <input type="button" value="Delete"
                    onclick="App.delete(<%=tests[i].id%>,<%=tests[i].version%>)"/>
            </td>
        </tr>
    <% } %>
    </table>
</script>

</body>
</html>