<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>

  <appSettings>
    <add key="DatabaseConnectionString" value="Server=localhost;User Id=josip;Password=josip;Database=politik" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add assembly="Shielded.Distro" />
    </assemblies>
    <namespaces>
    </namespaces>
  </razor>
</configuration>